@page "/categories"
@inject Services.SyncService SyncService

<div>
    <button @onclick="SyncAsync">Ихихихих</button>
    <div>@synced</div>
</div>

@code {
    private bool synced = false;

    private async Task SyncAsync()
    {
        (synced, _) = await SyncService.RunSyncAsync();
    }
}
